<header-comp></header-comp>

<div>
  <div>
    <h2>Login</h2>
  </div>
  <div>
    <form novalidate>
      <div>
        <label>Username</label>
        <input [(ngModel)]="authObj.username"
               name="username"
               type="text"
               placeholder="Enter username">
      </div>

      <div>
        <label>Password</label>
        <input [(ngModel)]="authObj.password"
               name="password"
               type="password"
               placeholder="Enter password">
      </div>
    </form>
  </div>
  <div>
    <button type="submit" (click)="login()">Login</button>
  </div>
</div>
