<header-comp></header-comp>

<div>
  <div>
    <h2>Register</h2>
  </div>
  <div>
    <form novalidate>
      <div>
        <label>Username*</label>
        <input [(ngModel)]="newUser.username"
               name="username"
               type="text"
               placeholder="Enter username">
      </div>
      <div>
        <label>Password*</label>
        <input [(ngModel)]="newUser.password"
               name="password"
               type="password"
               placeholder="Enter password">
      </div>
      <div>
        <label>Password confirmation*</label>
        <input [(ngModel)]="newUser.passwordConfirm"
               name="passwordConfirm"
               type="password"
               placeholder="Reenter password">
      </div>
      <div>
        <label>E-mail*</label>
        <input [(ngModel)]="newUser.email"
               name="email"
               type="email"
               placeholder="Enter email">
      </div>
      <div>
        <label>First name*</label>
        <input [(ngModel)]="newUser.firstName"
               name="firstName"
               type="text"
               placeholder="Enter first name">
      </div>
      <div>
        <label>Middle name</label>
        <input [(ngModel)]="newUser.middleName"
               name="middleName"
               type="text"
               placeholder="Enter middle name">
      </div>
      <div>
        <label>Last name</label>
        <input [(ngModel)]="newUser.lastName"
               name="lastName"
               type="text"
               placeholder="Enter last name">
      </div>
    </form>
  </div>
  <div>
    <button type="submit" (click)="register()">Register</button>
  </div>
</div>
